@import url('https://fonts.googleapis.com/css2?family=Inter&family=Rubik&display=swap');
.navbar{
    font-family: 'Rubik', 'sans-serif';
}
footer{
    font-family: 'Rubik', 'sans-serif';
    border-radius: 0px 80px 0 0;
}
body{
    font-family: 'Overpass', sans-serif;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-menu{
    display: none;
    position: absolute;
}
.dropdown-menu a {
    display: block;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
header{
    background-image: linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
    border-radius: 0px 0px 0px 80px; 
}
.header-section{
    background-image: url('../images/bg-pattern-intro-desktop.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h2{
    color:  hsl(208, 49%, 24%) !important;
    opacity: 0.95;
}
.left-img{
    background-image: url('../images/illustration-editor-desktop.svg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}
.pur-row{
    background-color: hsl(237, 23%, 32%);
    height: 60vh;
    border-radius: 0 80px 0 80px;
}
.mobile-cont{
    width: 100%;
    margin: 0 auto;
}
.mobile-img{
    background-image: url('../images/illustration-editor-mobile.svg') !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
}
@media(max-width: 769px){
    .left-img{
        width: 50%;
    }
    .pattern-svg img{
        left: 0;
        width: 50%;
    }
    .text-pattern{
        right: 0;
        position: absolute;
    }
    .laptop{
        padding-top: 150px !important;
    }
    .sig-btn{
        width: 40% !important;
    }
    footer{
        height: 50vh !important;
    }
}

@media(max-width: 426px){
    .sig-btn{
        width: 40% !important;
    }
    .header-section{
        background-image: url('../images/bg-pattern-intro-mobile.svg') !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    footer{
        height: 130vh !important;
    }
    br{
        display: none
    }
    .laptop{
        padding-top: 0 !important;
    }
    .pur-row{
        height: 100vh;
    }
    .pattern-svg img{
        left: 0;
        width: 100% ;
    }
}